<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/students/list">Students</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>
<h1 class="display-4">Add Student</h1>
<form method="post" action="/students/create">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="course">Course</label>
        <input type="text" name="course" class="form-control">
    </div>
    <div class="form-group">
        <label for="semester">Semester</label>
        <input type="number" name="semester" class="form-control">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>