<h1 class="display-4">Student CRUD</h1>
<p class="mb-4">This is a Sails js for managing students</p>
<a href="/students/list" class="btn btn-light">View students</a>
<a href="/students/add" class="btn btn-light">Add students</a>